:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

/* Header */

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFFFFF;
}

